<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="main-content mt-5">	
		<div class="col-xl-10 col-lg-11 mx-auto">            
			<h1 class="mb-5 text-center" 
	            th:text="${categoryName != null ? categoryName + ' 강좌 목록' : '모든 강좌 보기'}">
	            모든 강좌 보기
	        </h1>
	        
			<div class="card p-4 mb-5 border-0 shadow-sm"> 
			    <h5 class="fw-bold mb-3 text-secondary">카테고리</h5> 
			    <div>
					<!--모든강좌 보기를 누르고 카테고리 번호가 없을때-->
			        <button class="category-btn btn btn-dark text-light border me-1 mb-2" 
			                th:classappend="${categoryno == null} ? 'active'"
			                th:onclick="|location.href='@{/course/list}'|">
							전체 보기
					</button>
			        <!--카테고리가 추가됨에 따라 리스트도 따라서 자동 추가 
						색상순환로직 
						i.index	= 반복 인덱스	ex) 0, 1, 2, 3, 4, 5, 6, 7
						#arrays.length(colorClasses) = 배열길이	ex) 6 (만약 배열에 6개의 색상이 있다면)
						% (나머지 연산) = 순환 계산	ex) 7 % 6 = 1, 8 % 6 = 2
						colorClasses[]	최종 클래스	colorClasses[0]  
						cat.categoryno = 버튼의 카테고리 번호  반복문을 하고 있는 카테고리의 번호
						categoryno = 선택된 카테고리 번호  모델에 저장된 카테고리의 번호
						값이 같으면 active-category 추가해서 활성화 다르면 비활성화
					--> 																											
			        <button class="category-btn btn me-1 mb-2"
		                th:each="cat, i : ${categoryList}" 	             
		                th:classappend="${colorClasses[i.index % #arrays.length(colorClasses)]} + 
										(${cat.categoryno == categoryno} ? ' active-category' : '')"		                
		                th:text="${cat.title}"
		                th:onclick="|location.href='@{/course/category/{categoryno}(categoryno=${cat.categoryno})}'|"
		                >
						카테고리명
					</button>
			    </div>
			</div>		
			
	        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5">            
				<div th:each="course, loop : ${paging}" class="col">
				    <div class="card h-100 shadow-sm border-0">
	                    
	                    <a th:href="@{|/course/detail/${course.courseno}|}" class="card-link text-decoration-none">
	                        <img th:src="${course.courseimg}" class="card-img-top" style="height: 200px; object-fit: cover;" alt="강좌 대표 이미지">
	                    </a>

	                    <div class="card-body d-flex flex-column">
	                        <h5 class="card-title text-truncate">
	                            <a th:href="@{|/course/detail/${course.courseno}|}" class="text-dark text-decoration-none" th:text="${course.title}">강좌명</a>
	                        </h5>

	                        <p class="card-text text-muted small mb-3 flex-grow-1" th:text="${#strings.abbreviate(course.content, 80)}">강좌 내용 요약...</p>
	                        
	                        <div class="d-flex justify-content-between align-items-end mt-auto pt-2 border-top">
	                            <div>
									<span class="badge bg-info me-2" th:text="${course.grade} + '학년'">수강학년</span>                                
									<span class="badge bg-warning me-2" th:text="${course.instructor.name}" ></span>
									<span class="badge bg-success me-2" th:text="${course.category.title}" ></span>
	                            </div>
	                            <small class="text-muted" th:text="${#temporals.format(course.credate,'yyyy-MM-dd')}">2023-01-01</small>
	                        </div>
	                    </div>
	                </div>
	            </div>            
	        </div>
	        
			<div th:if="${!paging.isEmpty()}">
				<ul class="pagination justify-content-center">
					<th:block th:with="baseUrl=${categoryno != null ? '/course/category/' + categoryno : '/course/list'}">

	                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'd-none'">
	                        <a class="page-link" th:href="@{|${baseUrl}?page=${paging.number-1}|}">
	                            <span>이전</span>
	                        </a>
	                    </li>
	                    
	                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" 
	                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
	                    th:classappend="${page == paging.number} ? 'active'" class="page-item">
	                        <a th:text="${page+1}" class="page-link" th:href="@{|${baseUrl}?page=${page}|}"></a>
	                    </li>
	                    
	                    <li class="page-item" th:classappend="${!paging.hasNext} ? 'd-none'">
	                        <a class="page-link" th:href="@{|${baseUrl}?page=${paging.number+1}|}">
	                            <span>다음</span>
	                        </a>
	                    </li>
	                </th:block>
				</ul>
			</div>			        
		</div>			
	</div>
</html>