<!doctype html>
<html lang="ko">
	<head>
		<!--required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="_csrf" th:content="${_csrf.token}" />
		<meta name="_csrf_header" th:content="${_csrf.headerName}" />
		<!--Bootstrap CSS-->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.css}">
		<!--sbb CSS-->
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	</head>
	<body>
		<!--내비게이션 바-->
		<nav th:replace="~{navbar :: navbarFragment}"></nav>
		<!--기본 템플릿 안에 삽입될 내용 Start-->
		<th:block layout:fragment="content">
			<div th:insert="${content}"></div> 
		</th:block>
		<!--기본 템플릿 안에 삽입될 내용 End-->
		<!--Bootstrap JS-->
		<script th:src="@{/bootstrap.js}"></script>
		<!--자바스크립트 Start-->
		<th:block layout:fragment="script">
			
		</th:block>
		<!--자바스크립트 End-->
	</body>
</html>