<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-content mt-5">
	<div class="container">
		<div class="mx-auto" style="max-width: 1000px;">
			<h1 class="mb-4 text-center">회원정보관리</h1>
			<form method="get" action="/member/list" class="mb-3">
				<select name="role" onchange="this.form.submit()">
					<option th:value="__null__" th:selected="${selectedRole == 'null'}">전체</option>
					<option th:value="1" th:selected="${selectedRole == '1'}">USER</option>
					<option th:value="2" th:selected="${selectedRole == '2'}">INSTRUCTOR</option>
				</select>
			</form>
			<div class="table-responsive shadow-lg rounded-3 mb-4">
				<table class="table table-hover table-striped">
					<thead class="table-info">
						<tr>
							<th style="width: 5%;">NO.</th>
							<th style="width: 10%;">ID</th>
							<th style="width: 10%;">이름</th>
							<th style="width: 15%;">이메일</th>
							<th style="width: 10%;">전화번호</th>
							<th style="width: 5%;">역할</th>
							<th style="width: 10%;">생년월일</th>
							<th style="width: 15%;">등록일자</th>
							<th style="width: 15%;">수정일자</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="member, loop : ${pm.content}">
							<td th:text="${pm.totalElements - (pm.number * pm.size + loop.count) + 1}"
								class="align-middle"> </td>
							<td th:text="${member.memberid}" class="align-middle"> </td>
							<td class="align-middle">
								<a th:href="@{|/member/detail/${member.memberno}|}" th:text="${member.name}"
									class="text-primary fw-bold text-decoration-none"></a>
							</td>
							<td th:text="${member.email}" class="align-middle"> </td>
							<td th:text="${member.cellnum}" class="align-middle"> </td>
							<td th:text="${member.role}" class="align-middle"> </td>
							<td th:text="${member.birth}" class="align-middle"> </td>
							<td th:text="${#temporals.format(member.creDate,'yyyy-MM-dd')}" class="align-middle small">
							</td>
							<td th:text="${#temporals.format(member.modDate,'yyyy-MM-dd')}" class="align-middle small">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="mt-4 d-flex justify-content-center">
			    <ul class="pagination">
					<li th:classappend="${!pm.hasPrevious()} ? 'disabled'">
			            <a class="page-link" th:href="@{|/member/list?page=${pm.number - 1}${selectedRole != null && selectedRole != '' ? '&role=' + selectedRole : ''}|}">이전</a>
			        </li>

			        <li th:each="i : ${#numbers.sequence(0, pm.totalPages - 1)}"
			            th:classappend="${i == pm.number} ? 'active'">
			            <a class="page-link" th:href="@{|/member/list?page=${i}${selectedRole != null && selectedRole != '' ? '&role=' + selectedRole : ''}|}"
			               th:text="${i + 1}"></a>
			        </li>

			        <li th:classappend="${!pm.hasNext()} ? 'disabled'">
			            <a class="page-link" th:href="@{|/member/list?page=${pm.number + 1}${selectedRole != null && selectedRole != '' ? '&role=' + selectedRole : ''}|}">다음</a>
			        </li>
			    </ul>
			</div>
		</div>
	</div>
</div>

</html>