<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="main-content mt-5">
		<div class="col-md-5 col-lg-4 mx-auto p-4 border rounded shadow-sm bg-white">
			<form th:action="@{/member/login}" method="post">
				<div th:if="${param.error}">
					<div class="alert alert-danger">
						사용자 아이디 또는 비밀번호를 확인해주세요.
					</div>
				</div>	
				<h1 class="mb-4 text-center">로그인</h1>
				<div class="mb-3">
					<label for="username" class="form-label">아이디</label>
					<input type="text" name="username" id="username" class="form-control" placeholder="아이디를 입력하세요" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">비밀번호</label>
					<input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력하세요" required>
				</div>
				<button type="submit" class="btn btn-primary btn-lg w-100 mb-3">로그인</button> 
				
				<div class="text-center mt-3"> 
					<a th:href="@{/member/create}" class="text-decoration-none">회원가입</a>
				</div>
			</form>	
		</div>		
	</div>
</html>