<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="main-content mt-5 ">
		<div class="col-md-5 col-lg-4 mx-auto p-4 border rounded shadow-sm bg-white">
			<h1 class="mb-4 text-center">회원가입</h1>
			<form th:action="@{/member/create}" th:object="${memberForm}" method="post">
				<div th:replace="~{form_errors :: formErrorsFragment}"></div>		
				<!--아이디 중복확인-->
				<script src="/js/id_check.js"></script>
				
				<div class="mb-3">
					<label for="memberid" class="form-label"> 아이디 </label>
					<div class="input-group">
						<input type="text" th:field="*{memberid}" class="form-control" id="memberid" placeholder="아이디를 입력하세요">
						<button type="button" id="checkIdBtn" class="btn btn-secondary" style="width: 120px;">중복 확인</button>
					</div>
					<small id="idMessage" class="form-text ms-1"></small>
				</div>
		
				<div class="mb-3">
					<label for="pwd" class="form-label"> 비밀번호 </label>
					<input type="password" th:field="*{pwd}" class="form-control"
						   pattern="^(?=.*[0-9])(?=.*[!@#$%]).{10,}$"
					       placeholder="비밀번호는 10자리 이상, 숫자 포함, 특수문자(!@#$%) 포함해야 합니다.">
				</div>

				<div class="mb-3">
					<label for="pwd2" class="form-label"> 비밀번호 확인 </label>
					<input type="password" th:field="*{pwd2}" class="form-control" 
					pattern="^(?=.*[0-9])(?=.*[!@#$%]).{10,}$" placeholder="비밀번호는 10자리 이상, 숫자 포함, 특수문자(!@#$%) 포함해야 합니다.">
				</div>
		
				<div class="mb-3">
					<label for="name" class="form-label"> 이름 </label>
					<input type="text" th:field="*{name}" class="form-control">
				</div>
		
				<div class="mb-3">
					<label for="cellnum" class="form-label"> 전화번호 </label>
					<input type="text" th:field="*{cellnum}" class="form-control">
				</div>
		
				<div class="mb-3">
					<label for="birth" class="form-label"> 생년월일 </label>
					<input type="text" th:field="*{birth}" class="form-control" >
				</div>
		
				<div class="mb-3">
					<label for="email" class="form-label"> 이메일 </label>
					<input type="email" th:field="*{email}" class="form-control">
				</div>				
				<input type="submit" value="회원가입" class="btn btn-primary w-100 mt-3 ">
			</form>						
		</div>	
	</div>
</html>