<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="main-content mt-5">
		<div class="col-md-9 col-lg-7 mx-auto">            
			<h1 class="mb-4 text-center">퀴즈 수정</h1>
			<form th:action="@{|/quiz/modify/${quizForm.quizno}|}" 
			      th:object="${quizForm}" 
			      method="post"
			      class="needs-validation" novalidate>

			    <div class="card mb-4 shadow-sm">
			        <div class="card-header bg-light">
			            <h5 class="mb-0">퀴즈 상세 정보</h5>
			        </div>
			        <div class="card-body">
			            <input type="hidden" th:field="*{quizno}" />
			            
			            <div class="mb-3">
			                <label for="title" class="form-label">퀴즈 명</label>
			                <input type="text" th:field="${quiz.title}" id="title" class="form-control" />
			                <div th:if="${#fields.hasErrors('title')}" 
			                     th:errors="*{title}" 
			                     class="alert alert-danger mt-1"></div>
			            </div>

			            <div class="mb-3">
			                <label for="totalpoint" class="form-label">총점</label>
			                <input type="number" th:field="${quiz.totalpoint}" id="totalpoint" class="form-control" />
			                <div th:if="${#fields.hasErrors('totalpoint')}" 
			                     th:errors="${quiz.totalpoint}" 
			                     class="alert alert-danger mt-1"></div>
			            </div>
			        </div>
			    </div>

			    <div class="d-flex justify-content-end gap-2 mt-3">
			        <button type="submit" class="btn btn-primary">수정하기</button>
			        
			</form>

			    <a th:href="@{|/quiz/list/${course.courseno}|}" class="btn btn-secondary">취소</a>
			</div>	
		</div>
	</div>
</html>